[Unit]
Description="swic-api"

[Service]
ExecStart=/usr/bin/node index.js
WorkingDirectory=/YOURDIR/swic-api
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=swic-api
Environment=NODE_ENV=production DB_CONNECTION=YOURMONGODBSERVER TOKEN_SECRET=YOURTOKENSECRET PORT=8080

[Install]
WantedBy=multi-user.target